
/* ESTILOS ABOUT */

main {
    overflow: hidden;
}

.firstSectionAbout {
    background: #FDF9F7;
}

.firstSectionAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
 align-items: center;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.secondSectionAbout .listRow {
    display: flex;
    flex-direction: row;  
    text-align: center;
} 

@media (max-width: 1099px) {

    .firstSectionAbout h1 {
        display: none;
    }

    .heroImageAbout {
        z-index: 10;
        background-image: url(../images/mobile/about_hero_image.png);
        height: 176px;
        width: 90%;
        border-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-top: 75px;
    }

    .rectangleAboutOne {
        height: 112px;
        transform: rotate(17.6deg);
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 179, 206, 0.36) 0%, rgba(255, 227, 179, 0.36) 100%);
        margin-left: -100px;
        background-size: cover;
        background-position: center;
        width: 300%;
        background-position: center;
        margin-top: -160px;
        margin-bottom: 107px;
    }


    .firstSectionAbout .heroImageAbout .imgPanUno {
        padding: 10px;
    }


    .firstSectionAbout .divParAbout {
        display: flex;
        flex-direction: column;
        text-align:start;
        width: 97%;
        padding: 0 10px;
    }

    .firstSectionAbout .divParAbout .paragraphAbout {
        z-index: 20;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }

    .iconQualityDesk {
        display: none;
    }

    .h3QualityDesk {
        display: none;
    }

    .iconGlutenFreeDesk {
        display: none;
    }

    .h3lutenFreeDesk {
        display: none;
    }

    .secondSectionAbout {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .misionDiv {
        margin:0;
        padding:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .secondSectionAbout .misionDiv .titleMision {
        margin:0;
        padding:0;
        margin-top: 32px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        z-index: 20;
    }

    .secondSectionAbout .misionDiv .secondParagraphAbout {
        padding:0 10px;
        margin-top: 32px;
        width: 95%;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        z-index: 20;
        text-align: start;
    }

    .heroImageAboutTwo {
        z-index: 10;
        background-image: url(../images/mobile/about_hero_image_two.png);
        height: 160px;
        width: 90%;
        border-radius: 10px;
        background-position: center;
        
        background-repeat: no-repeat;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-top: 32px;
    }


    .rectangleAboutTwo {
        height: 112px;
        transform: rotate(17.6deg);
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 179, 206, 0.36) 0%, rgba(255, 227, 179, 0.36) 100%);
        margin-left: -100px;
        background-size: cover;
        background-position: center;
        width: 300%;
        background-position: center;
        margin-top: -50px;
    }

    .valoresDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .secondSectionAbout .valoresDiv .titleValores {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        text-align: center;
        z-index: 10;

    }

    .secondSectionAbout .valoresDiv .listRow {
        z-index: 20;
        width: 90%;
        justify-content: space-between;
        margin-top: 33px;
    }

    .secondSectionAbout .valoresDiv .listRow div h3 {
        z-index: 20;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }

    .secondSectionAbout .valoresDiv .thirdParagraphAbout {
        width: 93%;
        margin-top: 48px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }

    .secondSectionAbout .medialunaAbout {
        background-image: url(../images/eclipse_orange_one.png);
        width: 100%;
        height: 50px;
        margin-top: 18px;
        background-size: cover;
        position: relative;

    }

    .heroImageAbout-2 {
        display: none;
    }

    .qualityImgAbout {
        background-image: url(../images/mobile/calidad_about_new.svg);
        width: 54px;
        height: 54px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .diversityImgAbout {
        background-image: url(../images/mobile/diversidad_about_new.svg);
        width: 54px;
        height: 54px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .teamImgAbout {
        background-image: url(../images/mobile/equipo_about_new.svg);
        width: 54px;
        height: 54px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .serviceImgAbout {
        background-image: url(../images/mobile/service_about_new.svg);
        width: 54px;
        height: 54px;
        background-position: center;
        background-repeat: no-repeat;
    }
}


