/* Estilos contact */
@media (max-width:1199px) {
    .titleContact {
        z-index: 10;
        padding-top: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .mainContact .formularioContact form .formFieldset {
        z-index: 20;
    }

    .mainContact .formularioContact form .formFieldset .divDelButtonDelFormulario .buttonDelformulario1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 8px;
        width: 105.86px;
        height: 40px;
        background: #F2A654;
        border-radius: 100px;
        border-width: 0;
    }

    .mainContact .titleContact h1 {
        width: 100%;
        padding: 0 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
    }

    .mainContact .titleContact p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
        width: 100%;
        padding: 0 10px;
        margin-top: -5px;
    }

    .divContactIformation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        background: rgba(255, 170, 136, 0.6);
        height: 64px;
    }

    .divContactIformation p {
        margin: 14px;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #000000;
    }

    .divContainerInformaccion2 {
        display: none;
    }

    .houseFotter {
        display: none;
    }

    .pContactInformatio2 {
        display: none;
    }

    .mainContact label {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: #49454F;
        display: flex;
        align-items: center;
    }

    .ellipseContact {
        display: none;
    }

    .ImgSamwichcontac {
        display: none;
    }

    .mainContact {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .mainContact .formularioContact {
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        padding: 0 15px;
    }

    .titleContactDesk {
        display: none;
    }
}

.mainContact {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.rectangleContact {
    height: 112px;
    transform: rotate(-5.78deg);
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 179, 206, 0.36) 0%, rgba(255, 227, 179, 0.36) 100%);
    margin-left: -100px;
    background-size: cover;
    background-position: center;
    width: 300%;
    margin-top: -130px;
}


fieldset {
    background: #FDF9F7;
    margin-bottom: 15px;
    height: 56px;
}

#fieldsetId {
    height: 152px;
}

.mainContact .formularioContact form .formFieldset fieldset input {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #1C1B1F;
    background-color: #FDF9F7;
    height: 100%;
}

.mainContact .formularioContact form div fieldset textarea {
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #1C1B1F;
    resize: none;
    background: #FDF9F7;
}

input:focus,
input[type]:focus {
    outline: 0 none !important;
    border-color: #F2A654;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255, 144, 0, 0.6);
}

.textAreaContact:focus {
    outline: 0 none !important;
    border-color: #F2A654;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255, 144, 0, 0.6);
}

.mainContact .formularioContact form .formFieldset .divDelButtonDelFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 32px;
}

.mainContact .formularioContact form .formFieldset .divDelButtonDelFormulario .buttonDelformulario1 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #050505;
}
@media (max-width:306px) {
    .divContactIformation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        background-color: rgba(255, 170, 136, 0.6);
        height: 94px;
        position: relative;
    }

}