
/* Footer de How y About --> versión desktop */

@media (min-width: 900px) {
    .footerAbout {  
        height: 81px;
        width: 100%;
        background: linear-gradient(180deg, #FFAA88 0%, #FFAA88 100%);
        display: grid;
        align-items: center;
        justify-items:center;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          " instagramAbout whatsappAbout";
      }
      
      .facebookAbout { grid-area: facebookAbout; }
      
      .instagramAbout { grid-area: instagramAbout; }
      
      .whatsappAbout { grid-area: whatsappAbout; }

      .footerAbout a .facebookAbout {
        background-image: url(../images/mobile/about_icon_fb.svg) ;
        background-position: center;
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
    }

    .footerAbout a .instagramAbout {
        background-image: url(../images/mobile/about_icon_ig.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
    }

    .footerAbout a .whatsappAbout {
        background-image: url(../images/mobile/about_icon_wp.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
    }
}