
/* Footer de How y About --> versión desktop */

@media (min-width: 1100px) {
    .footerAbout {  
        height: 146px;
        width: 100%;
        background: linear-gradient(180deg, #FFAA88 0%, #FFAA88 100%);
        display: grid;
        align-items: center;
        justify-items:center;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". facebookAbout instagramAbout whatsappAbout .";
      }
      
      .facebookAbout { grid-area: facebookAbout; }
      
      .instagramAbout { grid-area: instagramAbout; }
      
      .whatsappAbout { grid-area: whatsappAbout; }

    .facebookAbout {
        background-image: url(../images/iconFacebookAbout.png) ;
        background-position: center;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }

    .instagramAbout {
        background-image: url(../images/iconInstagramAbout.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }

    .whatsappAbout {
        background-image: url(../images/iconWhatsappAbout.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }
}