
/* Frozen */


@media (max-width:1099px) {
    .firstSectionFrozen {
        background: #FDF9F7;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-align: center;
    }

    .h2FrozenDesktop {
        display: none;
    }

    .titleEmpanadasDesktop {
        display: none;
    }

    .divEmpanadas h3 {
        display: none;
    }

    .imgEmpanadasDesktop {
        display: none;
    }



    .firstSectionFrozen h1 {
        margin-top: 32px;
        width: 220px;
        height: 36px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #2F2F2F;
    }

    .titleEmpanadas {
        z-index: 10;
        margin-top: 42px;
        background-image: url(../images/mobile/frozen_image_one.png);
        width: 90%;
        border-radius: 10px;
        height: 188px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }


    .rectangleFrozen {
        height: 112px;
        transform: rotate(-24.61deg);
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 179, 206, 0.36) 0%, rgba(255, 227, 179, 0.36) 100%);
        margin-left: -100px;
        background-size: cover;
        background-position: center;
        position: relative;
        width: 300%;
        margin-top: -150px;
        margin-bottom: 20px;
    }


    .titleEmpanadas h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
    }

    .divEmpanadas {
        margin-top: 48px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }

    .btnFrozenDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 51px;
        margin-bottom: 56px;
    }

    .btnFrozen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 8px;
        position: relative;
        width: 143px;
        height: 44px;
        border-width: 0px;
        background: #F2A654;
        border-radius: 100px;
    }

    .btnFrozen a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1px;
        color: #050505;
    }

    .secondSectionFrozen {
        background: #FDF9F7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        overflow: hidden;
    }


    .titleRebozados {
        z-index: 10;
        margin-top: 32px;
        background-image: url(../images/mobile/frozen_image_two.png);
        width: 90%;
        border-radius: 10px;
        height: 188px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }

    .titleRebozados p {
        display: none;
    }

    .imgRebozados {
        display: none;
    }

    .rectangleFrozenTwo {
        height: 112px;
        transform: rotate(-24.61deg);
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 179, 206, 0.36) 0%, rgba(255, 227, 179, 0.36) 100%);
        margin-left: -100px;
        background-size: cover;
        background-position: center;
        width: 300%;
        background-position: center;
        margin-top: -135px;
    }


    .titleRebozados h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
    }

    .divRebozados {
        margin-top: 48px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }

    .btnFrozenTwo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 8px;
        margin-top: 51px;
        margin-bottom: 56px;
        position: relative;
        width: 143px;
        height: 44px;
        border-width: 0px;
        background: #F2A654;
        border-radius: 100px;
    }

    .btnFrozenTwo a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1px;
        color: #050505;
    }

    .thirdSectionFrozen {
        background: #FDF9F7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        overflow: hidden;
    }

    .titlePrepizza {
        z-index: 10;
        margin-top: 32px;
        background-image: url(../images/frozen_three.png);
        width: 90%;
        border-radius: 10px;
        height: 188px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }

    .titlePrepizza p {
        display: none;
    }

    .imgPrepizza {
        display: none;
    }

    .rectangleFrozenThree {
        height: 112px;
        transform: rotate(-24.61deg);
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 179, 206, 0.36) 0%, rgba(255, 227, 179, 0.36) 100%);
        margin-left: -100px;
        background-size: cover;
        background-position: center;
        width: 300%;
        background-position: center;
        margin-top: -130px;
    }


    .titlePrepizza h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
    }

    .divPrepizza {
        margin-top: 48px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }

    .btnFrozenThree {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 8px;
        margin-top: 97px;
        margin-bottom: 56px;
        position: relative;
        width: 143px;
        height: 44px;
        border-width: 0px;
        background: #F2A654;
        border-radius: 100px;
    }

    .btnFrozenThree a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1px;
        color: #050505;
    }

}

