* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #FDF9F7;
}

a {
    text-decoration: none;
}

/* ESTILOS HEADER */



.enlace {
    position: absolute;
    /* padding: 20px 50px; */
}

/* .logo {
    height: 40px;
} */

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
}

li a.active,
li a:hover {
    transition: .2s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* MediaQueriesHeader */


@media (max-width: 1049px) {

    nav .fa-chevron-down {
        display: none;
    }

    main {
        padding-top: 109px;
    }
    nav {
        height: 109px;
        width: 100%;
        background-color: #FDF9F7;
        position: fixed;
        z-index: 999;
        box-shadow: 0 0 15px #ebe4e0;
        
    }

    .checkbtn {
        display: block;
    }

    .enlace {
        margin-left: -25px;
        margin-top: -12px;
        width: 163px;
        height: 143px;
    }

    .enlace img {
        width: 100%;
        height: 100%;
        /* margin: 10px 5px; */
    }

    .checkbtn img {
        width: 24px;
        height: 24px;
        margin-top: 50px;

    }

    nav ul {
        z-index: 999;
        position: fixed;
        width: 200px;
        height: 352px;
        background: linear-gradient(0deg, #F5F5F5, #F5F5F5), #FFFBFE;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        top: 109px;
        right: -150%;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav ul li {
        margin: -13px;
        margin-left: -15px;

    }

    nav ul li a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #1C1B1F;
    }

    li a:hover,
    li a.active {
        background: none;
        color:
            rgba(242, 166, 84, 1);
    }

    #check:checked~ul {
        right: -30px;
    }

    .headerAbout nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 130px;

    }

    .headerAbout nav .checkbtn {
        margin-left: 85%;
    }

    .headerAbout nav ul {
        top: 130px;
        z-index: 999;
    }

    .headerAbout nav .enlace {
        width: 200px;
        height: 184px;
    }

    .headerAbout nav .enlace img {
        width: 100%;
        height: 100%;
    }

    .dropdownItem {
        display: none;
    }

    .headerIndex {
        box-shadow: 0 0 10px #000;
        background: rgba(0,0,0,0.5);
     }

     .headerIndex .enlace {
        position: absolute;
        margin-left: 5px;
        margin-top: 30px;
        width: 103px;
        height: 60.61px;
    }

    .headerIndex .enlace img {
        width: 100%;
        height: 100%;
    }

    
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

   /*  nav ul li a {
        font-size: 14px;
    } */
}


@media (max-width:1439px) and (min-width: 1050px) {
    nav {
        height: 178px;
        width: 100%;
        background-color: #FDF9F7;
        position: fixed;
        z-index: 999;
        box-shadow: 0 0 15px #ebe4e0;
    }

    .enlace {
        position: absolute;
        margin-top: -25px;
        height: 219px;
        width: 239px;
    }

    .logo {
        height: 100%;
        width: 100%;
    }

    nav ul {
        float: right;
        margin:0;
        margin-right: 20px;

    }

    nav ul li {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.011em;
        padding-top: 80px;
        display: inline-block;
        margin:0px;
        /* line-height: 80px;
        margin: 0 5px; */
    }

    nav ul li a {
        color: #2F2F2F;
        padding: 7px 13px;

    }

    li a.active,
    li a:hover {
        font-weight: 700;
        color: #2F2F2F;
        text-decoration: underline 4px rgba(242, 166, 84, 1);

    }

    .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

    nav ul li .dropdownMenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        list-style: none;
        width: 321px;
        height: 340px;
        background: #FDF9F7;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin: 0;
        padding: 0;
        display: none;
        border: 1px solid #FDF9F7;
        border-radius: 8px;
        z-index: 800;
    }

    nav ul li .dropdownMenu li {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        border-bottom: 1px solid rgba(255, 170, 136, 0.4);
    }

    .dropdownMenu li a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #2F2F2F;
    }


    nav ul li:hover .dropdownMenu {
        display: block;
    }

    .dropdownMenu li a:hover {
        /* border-radius: 10px;
        background-color: rgba(242, 166, 84, 1); */
        color: #2F2F2F;
        font-weight: 700;
        text-decoration: underline 4px rgba(242, 166, 84, 1);
    }

    .dropdownMenu a.active {
        font-weight: 700;
        color: #2F2F2F;
        text-decoration: underline 4px rgba(242, 166, 84, 1);
    }

    .not-active {
        pointer-events: none;
        cursor: default;

    }

    .headerIndex {
        box-shadow: 0 0 10px #000;
        background: rgba(0,0,0,0.6);
     }

    .headerIndex ul li a {
        color: #FDF9F7;
            font-size: 16px;
            padding: 7px 13px;
            border-radius: 3px;
    }

    .headerIndex .fa-chevron-down {
        color: #FDF9F7;
        font-size: 10px;
        margin-left: -5px;

    }

    .headerIndex ul li .dropdownMenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        list-style: none;
        width: 321px;
        height: 340px;
        background: #FDF9F7;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin: 0;
        padding: 0;
        display: none;
        border: 1px solid #FDF9F7;
        border-radius: 8px;
        z-index: 800;
    }

    .headerIndex ul li .dropdownMenu li {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 5px;
        border-bottom: 1px solid rgba(255, 170, 136, 0.4);
    }

    .headerIndex .dropdownMenu li a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #2F2F2F;
    }

    .headerIndex .logoMobileIndex {
        display: none;
    }

    .headerIndex .enlace {
        position: absolute;
        margin-top: 41px;
        margin-left: 47px;
        height: 96px;
        width: 143px;
    }

    main {
        padding-top:178px;
    }

}


@media (min-width: 1440px) {
    nav {
        height: 208px;
        width: 100%;
        /* de prueba */
        background-color: #FDF9F7;
        position: fixed;
        z-index: 999;
        box-shadow: 0 0 15px #ebe4e0;
    }

    .enlace {
        position: absolute;
        margin-top: -47px;
        margin-left: -14px;
       width: 289px;
       height: 289px;
    }

    .logo {
        width: 100%;
        height: 100%;
    }

    /* .logo {
        width: 173px;
        
    } */

    nav ul {
        float: right;
    }

    nav ul li {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.011em;
        padding-top: 90px;
        display: inline-block;
        /* line-height: 80px;
        margin: 0 5px; */
    }

    nav ul li a {
        color: #2F2F2F;
        padding: 7px 13px;
        border-radius: 3px;
    }

    li a.active,
    li a:hover {
        font-weight: 700;
        color: #2F2F2F;
        text-decoration: underline 4px rgba(242, 166, 84, 1);
    }

    .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

    nav ul li .dropdownMenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        list-style: none;
        width: 321px;
        height: 340px;
        background: #FDF9F7;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin: 0;
        padding: 0;
        display: none;
        border: 1px solid #FDF9F7;
        border-radius: 8px;
        z-index: 800;
    }

    nav ul li .dropdownMenu li {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 5px;
        border-bottom: 1px solid rgba(255, 170, 136, 0.4);
    }

    .dropdownMenu li a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #2F2F2F;
    }


    nav ul li:hover .dropdownMenu {
        display: block;
    }

    .dropdownMenu li a:hover {
        /* border-radius: 10px;
        background-color: rgba(242, 166, 84, 1); */
        color: #2F2F2F;
        font-weight: 700;
        text-decoration: underline 4px rgba(242, 166, 84, 1);
    }

    

    .dropdownMenu a.active {
        font-weight: 700;
        color: #2F2F2F;
        text-decoration: underline 4px rgba(242, 166, 84, 1);
    }

    .not-active {
        pointer-events: none;
        cursor: default;
    }

    /* de prueba */
    .headerIndex {
        box-shadow: 0 0 10px #000;
        background: rgba(0,0,0,0.6);
     }

    .headerIndex ul li a {
        color: #FDF9F7;
            font-size: 16px;
            padding: 7px 13px;
            border-radius: 3px;
    }

    .headerIndex .fa-chevron-down {
        color: #FDF9F7;
        font-size: 10px;
        margin-left: -5px;

    }

    .headerIndex ul li .dropdownMenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        list-style: none;
        width: 321px;
        height: 340px;
        background: #FDF9F7;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin: 0;
        padding: 0;
        display: none;
        border: 1px solid #FDF9F7;
        border-radius: 8px;
        z-index: 800;
    }

    .headerIndex ul li .dropdownMenu li {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 5px;
        border-bottom: 1px solid rgba(255, 170, 136, 0.4);
    }

    .headerIndex .dropdownMenu li a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #2F2F2F;
    }

    

    .headerIndex .enlace {
        position: absolute;
        margin-top: 41px;
        margin-left: 47px;
       width: 173px;
       height: 126px;
    }

    /* de prueba */
    main {
        padding-top:208px;
    }



}
