* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #FDF9F7;
}

a {
    text-decoration: none;
}



/* ESTILOS HEADER */



.enlace {
    position: absolute;
    /* padding: 20px 50px; */
}

/* .logo {
    height: 40px;
} */

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
}

li a.active,
li a:hover {
    transition: .2s;
}

.checkbtn {
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* MediaQueriesHeader */


@media (max-width: 1049px) {

    nav .fa-chevron-down {
        display: none;
    }

    main {
        padding-top: 109px;
    }
    nav {
        height: 109px;
        width: 100%;
        background-color: #FDF9F7;
        position: fixed;
        z-index: 999;
        box-shadow: 0 0 15px #ebe4e0;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    .checkbtn {
        display: block;
        width: 24px;
        height: 24px;
        margin-left: 85%;
        margin-bottom: 40px;
    }

    .enlace {
        /* margin-left: -25px;
        margin-top: -12px; */
        width: 144px;
        display: flex;
        flex-direction: row;
        
        margin-top: 5px;
    }

    .enlace img {
        width: 100%;
        height: 100%;
        /* margin: 10px 5px; */
    }

    .checkbtn img {
        width: 100%;
        height: 100%;
        
       

    }

    nav ul {
        z-index: 999;
        position: fixed;
        width: 200px;
        height: 352px;
        background: linear-gradient(0deg, #F5F5F5, #F5F5F5), #FFFBFE;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        top: 109px;
        right: -150%;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav ul li {
        margin: -13px;
        margin-left: -15px;

    }

    nav ul li a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #1C1B1F;
    }

    li a:hover,
    li a.active {
        background: none;
        color:
            rgba(242, 166, 84, 1);
    }

    #check:checked~ul {
        right: -30px;
    }

    


    /* 
    .headerAbout nav ul {
        top: 130px;
        z-index: 999;
    }

    .headerAbout nav .enlace {
        width: 200px;
        height: 184px;
    }

    .headerAbout nav .enlace img {
        width: 100%;
        height: 100%;
    } */

    .dropdownItem {
        display: none;
    }

    .headerIndex {
        box-shadow: 0 0 10px #000;
        background: rgba(0,0,0,0.5);
     }

     .headerIndex .enlace {
        position: absolute;
        width: 84px;
        height: 61.61px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .headerIndex .enlace img {
        width: 100%;
        height: 100%;
    }

    .headerAbout {
        justify-content: center;
        height: 130px;

    }
    .headerAbout .checkbtn {
       margin-bottom: 40px;
    }

    .headerAbout ul {
        top: 130px;
        z-index: 999;
        
    }

    .headerAbout .enlace {
        position: absolute;
        width: 160.81px;
        margin:0px;
        padding: 0px;
    
    }

    .headerAbout .enlace img {
        width: 100%;
        height: 100%;
    } 

   

    
}

/* @media (max-width: 952px) {
    .enlace {
        padding-left: -20px;
       height: 300px;
    }
}
 */

@media (max-width:1439px) and (min-width: 1050px) {
    nav {
        height: 132px;
        width: 100%;
        /* de prueba */
        background-color: #FDF9F7;
        position: fixed;
        z-index: 999;
        box-shadow: 0 0 15px #ebe4e0;
        display: flex;
        align-items: center;
    }

    .enlace {
        left: 0;
        position: absolute;
        /* margin-top: -47px;
        margin-left: -14px; */
       width: 161px;
       height: 161px;
       margin-top: -10px;
       margin-left: 10px;
    }

    .logo {
        width: 100%;
        height: 100%;
    }

    /* .logo {
        width: 173px;
        
    } */

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
       /*  float: right; */
        margin-top: 25px;
        width: 100%;
    }

    nav ul li {
        font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
letter-spacing: -0.011em;
color: #2F2F2F;
padding-right: 14px;
display: inline-block;
    }

   


    nav ul li a {
        color: #2F2F2F;

    }

    li a.active,
    li a:hover {
        font-weight: 700;
        color: #2F2F2F;
        border-bottom: 4px solid rgba(242, 166, 84, 1);
    }

    .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

    nav ul li .dropdownMenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        list-style: none;
        width: 321px;
        height: 340px;
        background: #FDF9F7;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin: 0;
        padding: 0;
        display: none;
        border: 1px solid #FDF9F7;
        border-radius: 8px;
        z-index: 800;
    }

    nav ul li .dropdownMenu li {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        border-bottom: 1px solid rgba(255, 170, 136, 0.4);
    }

    .dropdownMenu li a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #2F2F2F;
        padding-left: 10px;
    }


    nav ul li:hover .dropdownMenu {
        display: block;
    }

    .dropdownMenu li a:hover {
        /* border-radius: 10px;
        background-color: rgba(242, 166, 84, 1); */
        color: #2F2F2F;
        font-weight: 700;
        border-bottom: 0px;
        text-decoration: underline 4px rgba(242, 166, 84, 1);
    }

    .dropdownMenu a.active {
        font-weight: 700;
        color: #2F2F2F;
        border-bottom: 0px;
        text-decoration: underline 4px rgba(242, 166, 84, 1);
    }

    .not-active {
        pointer-events: none;
        cursor: default;

    }

    .headerIndex {
        box-shadow: 0 0 10px #000;
        background: rgba(0,0,0,0.6);
     }

    .headerIndex ul li a {
        color: #FDF9F7;
            font-size: 16px;
            border-radius: 3px;
    }

    

    .headerIndex .fa-chevron-down {
        color: #FDF9F7;
        font-size: 10px;
        margin-left: 5px;

    }

    .headerIndex ul li .dropdownMenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        list-style: none;
        width: 321px;
        height: 340px;
        background: #FDF9F7;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin: 0;
        padding: 0;
        display: none;
        border: 1px solid #FDF9F7;
        border-radius: 8px;
        z-index: 800;
    }

    .headerIndex ul li .dropdownMenu li {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 5px;
        border-bottom: 1px solid rgba(255, 170, 136, 0.4);
    }

    .headerIndex .dropdownMenu li a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #2F2F2F;
    }

    .headerIndex .logoMobileIndex {
        display: none;
    }

    .headerIndex .enlace {
        position: absolute;
       margin-left: 43px;
       margin-top:-5px;
        width: 93px;
        height: 68px;
    }

    main {
        padding-top:132px;
    }

}


@media (min-width: 1440px) {
    nav {
        height: 132px;
        width: 100%;
        /* de prueba */
        background-color: #FDF9F7;
        position: fixed;
        z-index: 999;
        box-shadow: 0 0 15px #ebe4e0;
        display: flex;
        align-items: center;
    }

    .enlace {
        position: absolute;
        /* margin-top: -47px;
        margin-left: -14px; */
       width: 161px;
       height: 161px;
      
       /* margin-top: -10px; */
       /* margin-left: 10px; */
    }

    .logo {
        width: 100%;
        height: 100%;
    }

    /* .logo {
        width: 173px;
        
    } */

    nav ul {
/*         margin-left: 421px;
 */        /* float: right; */
        margin-top: 25px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    nav ul li {
        font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
letter-spacing: -0.011em;
color: #2F2F2F;
padding-right: 34px;

    }

    nav ul li a {
        color: #2F2F2F;
        /* padding: 7px 13px; */
        border-radius: 3px;
        
    }

    li a.active,
    li a:hover {
        font-weight: 700;
        color: #2F2F2F;
        border-bottom:  4px solid rgba(242, 166, 84, 1);
 }

    .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

    nav ul li .dropdownMenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        list-style: none;
        width: 321px;
        height: 340px;
        background: #FDF9F7;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin: 0;
        padding: 0;
        display: none;
        border: 1px solid #FDF9F7;
        border-radius: 8px;
        z-index: 800;
    }

    nav ul li .dropdownMenu li {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgba(255, 170, 136, 0.4);
    }

    .dropdownMenu li a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #2F2F2F;
        padding-left: 15px;
    }


    nav ul li:hover .dropdownMenu {
        display: block;
    }

    .dropdownMenu li a:hover {
        /* border-radius: 10px;
        background-color: rgba(242, 166, 84, 1); */
        color: #2F2F2F;
        font-weight: 700;
        border-bottom: 0px;
        text-decoration: underline 4px rgba(242, 166, 84, 1);
    }

    

    .dropdownMenu a.active {
        font-weight: 700;
        color: #2F2F2F;
        border-bottom: 0px;
        text-decoration: underline 4px rgba(242, 166, 84, 1);
    }

    .not-active {
        pointer-events: none;
        cursor: default;
    }

    /* de prueba */
    .headerIndex {
        box-shadow: 0 0 10px #000;
        background: rgba(0,0,0,0.6);
     }

    .headerIndex ul li a {
        color: #FDF9F7;
    }

    .headerIndex .fa-chevron-down {
        color: #FDF9F7;
        font-size: 10px;
        margin-left: 5px;

    }

    .headerIndex ul li .dropdownMenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        list-style: none;
        width: 321px;
        height: 340px;
        background: #FDF9F7;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin: 0;
        padding: 0;
        display: none;
        border: 1px solid #FDF9F7;
        border-radius: 8px;
        z-index: 800;
    }

    .headerIndex ul li .dropdownMenu li {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 5px;
        border-bottom: 1px solid rgba(255, 170, 136, 0.4);
    }

    .headerIndex .dropdownMenu li a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #2F2F2F;
    }

    

    .headerIndex .enlace {
        position: absolute;
       width: 95px;
       height: 70px;
       margin-left: 42px;
       margin-top: -5px;
        /* margin-top: 41px;
        margin-left: 47px; */
       /* width: 173px;
       height: 126px; */
    }

    .enlace {
        position: absolute;
       width: 161px;
       height: 161px;
       margin-top: -10px;
       margin-left: 10px;
    }

    .logo {
        width: 100%;
        height: 100%;
    }

    /* de prueba */
    main {
        padding-top:132px;
    }



}
