/* Estilos index */


.firstSectionIndex main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

.firstSectionIndex .titleTextIndex {
    margin-top: 200px;
    color: #FDF9F7;
}

.btnOrderIndexDiv {
    display: flex;
    flex-direction: column;
    padding-top: 345px;
}

@media (max-width:316px) {
    .btnOrderIndexDiv {
        display: flex;
        flex-direction: column;
        padding-top: 330px;
    }
}

.btnOrderIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    border: 0;
    width: 143px;
    height: 44px;
    background: #F2A654;
    border-radius: 100px;
}

.firstSectionIndex main .btnOrderIndex a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #050505;
}

.secondSectionindex {
    overflow: hidden;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondSectionindex .secondTitleIndex {
    width: 100%;
    padding: 0 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    grid-area: second-title;
}

.secondSectionindex .textGlutenFreeIndex {
    grid-area: text-gluten;
}

.secondSectionindex .textCalidadIndex {
    grid-area: text-calidad;
}

.secondSectionindex .textSecondIndex {
    width: 95%;
    padding: 0 10px;
    margin-top: 74px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    grid-area: secon-title;
}

.secondSectionindex .circleIndex {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    grid-area: circle-area;
}

.thirdSectionIndex {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fourthSectionIndex {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.indexCarouselLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider {
    margin-top: 48px;
    z-index: 100;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    margin-left: 5px;
}

.elemento {
    flex: 1 0 auto;
    margin: 0 10px;
    width: 171px;
    height: 160px;
    border-radius: 10px;
    background-position: center;
    background-size: cover; 
}

.elementoUno {
    background-image: url(../images/mobile/carousel_second_one.jpg);  
}
.elementoDos {
    background-image: url(../images/mobile/carousel_second_two.jpg);  
}
.elementoTres {
    background-image: url(../images/mobile/carousel_second_three.jpg);  
}
.elementoCuatro {
    background-image: url(../images/mobile/carousel_second_four.jpg);  
}
.elementoCinco {
    background-image: url(../images/mobile/carousel_second_five.jpg);  
}
.elementoSeis {
    background-image: url(../images/mobile/carousel_second_six.jpg);  
}

.carousel1P {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #2F2F2F;
    text-align: center;
    margin-top: 8px;
}

.btnVerMasIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    border-width: 0;
    width: 116px;
    height: 44px;
    background: #F2A654;
    border-radius: 100px;
}

.btnVerMasIndex a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #050505;
}

.indexCarouselLineTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.sliderTwo {
    margin-top: 48px;
    z-index: 100;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    padding-bottom: 30px;
    margin-left: 5px;
}

.elementoTwo {
    background-image: url(../images/mobile/index_carrousel_two_bg.png);
    flex: 1 0 auto;
    margin: 0 5px;
    width: 179px;
    height: 200px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.elementoTwo p {
    margin: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #2F2F2F;
}

.secondSectionindex .iconGlutenFreeIndex {
    background-position: center;
    background-repeat: no-repeat;
    grid-area: icon-gluten;
}

.secondSectionindex .iconCalidadIndex {
    background-position: center;
    background-repeat: no-repeat;
    grid-area: icon-calidad;
}

@media (max-width: 450px) {
    .rectangleCarouselOne {
        height: 112px;
        position: absolute;
        transform: rotate(-24.61deg);
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 179, 206, 0.36) 0%, rgba(255, 227, 179, 0.36) 100%);
        margin-left: -100px;
        background-size: cover;
        background-position: center;
        width: 300%;
        background-position: center;
        margin-top: -200px;
    }

    .rectangleCarouselTwo {
        height: 112px;
        position: absolute;
        transform: matrix(-0.91, -0.42, -0.42, 0.91, 0, 0);
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 179, 206, 0.36) 0%, rgba(255, 227, 179, 0.36) 100%);
        margin-left: -100px;
        background-size: cover;
        background-position: center;
        width: 300%;
        background-position: center;
        margin-bottom: -270px;
    }
}

@media (max-width:899px) and (min-width: 451px) {
    .rectangleCarouselOne {
        display: none;
    }

    .rectangleCarouselTwo {
        display: none;
    }
}

@media (max-width:899px) {
    .firstSectionIndex {
        height: 844px;
    }
    
    .heroImageIndex {
        height: 100%;
        overflow: hidden;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(180.35deg, rgba(0, 0, 0, 0.5) 6.47%, rgba(0, 0, 0, 0) 22.3%), url(../images/mobile/hero_image_index.jpg);
        transform: rotate(0.06deg);
        background-position: center;
        background-size: cover;
    }
    
    .carrousel {
        display: none;
    }

    .carrouselTwo {
        display: none;
    }

    .secondSectionindex .secondTitleIndex {
        margin-top: 48px;
    }

    .secondSectionindex .circleIndex {
        margin-top: 90px;
        background-image: url(../images/mobile/ellipse_orange_one.png);
        display: flex;
        flex-direction: column;
        width: 100%;
        background-size: cover;
        position: relative;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        grid-area: circle-area;
    }

    .secondSectionindex .circleIndex .btnMoreIndex {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 8px;
        width: 152px;
        height: 44px;
        background: #F2A654;
        border-radius: 100px;
        border-width: 0px;
        margin-top: 55px;
        margin-bottom: 46px;
    }

    .secondSectionindex .circleIndex .btnMoreIndex a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1px;
        color: #050505;
    }

    .secondSectionindex .iconGlutenFreeIndex {
        background: url(../images/mobile/index_glutenfree_new.png);
        margin-top: 91px;
        width: 65px;
        height: 65px;
        border-radius: 47px;
        background-position: center;
        background-repeat: no-repeat;
        grid-area: icon-gluten;
    }

    .secondSectionindex .textGlutenFreeIndex {
        width: 100%;
        padding: 0 10px;
        margin-top: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
        grid-area: text-gluten;
    }

    .secondSectionindex .iconCalidadIndex {
        background: url(../images/mobile/index_quality_new.png);
        width: 65px;
        height: 65px;
        margin-top: 64px;
        background-position: center;
        background-repeat: no-repeat;
        grid-area: icon-calidad;
    }

    .secondSectionindex .textCalidadIndex {
        width: 100%;
        padding: 0 10px;
        margin-top: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        grid-area: text-calidad;
    }

    .textGlutenFreeIndex {
        margin-bottom: 30px;
    }

    .firstSectionIndex .titleTextIndex .firstTitleIndex {
        font-size: 34px;
        font-weight: 700;
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        text-align: center;
    }

    .firstSectionIndex .titleTextIndex .textIndex {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        margin-top: -6px;
        text-align: center;
    }

    .fourthSectionIndex footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .fourthSectionIndex footer .footerTitle {
        margin-bottom: 0px;
        width: 100%;
        padding: 0 10px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #000000;
    }

    .fourthSectionIndex footer .footerIcons {
        display: flex;
        justify-content: space-between;
        padding-top: 17px;
        padding-bottom: 37px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .iconFacebook {
        background-image: url(../images/mobile/index_fb_new.png);
        width: 26px;
        height: 26px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .iconInstagram {
        background-image: url(../images/mobile/index_ig_new.png);
        width: 26px;
        height: 26px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .iconWhatsapp {
        background-image: url(../images/mobile/index_wp_new.png);
        width: 26px;
        height: 26px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .textSecondIndex p {
        margin: 0px;
    }

    .thirdSectionIndex {
        overflow: hidden;
    }

    .thirdSectionIndex .thirdTitleIndex {
        width: 100%;
        padding: 0 10px;
        margin-top: 32px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #000000;
    }

    .fourthTitleIndex {
        width: 100%;
        padding: 0 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        margin-top: 32px;
        text-align: center;
        color: #2F2F2F;
        z-index: 10;
    }

    .secondSectionindex .textCalidadIndex p {
        margin: 2px;
    }

    .secondSectionindex .textGlutenFreeIndex p {
        margin: 0px;
    }

    .btnVerMasIndexDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
    }
}

@media (max-width: 350px) {
    .secondSectionindex .textCalidadIndex {
        width: 100%;
        padding: 0 10px;
        margin-top: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: text-calidad;
    }
}

@media (max-width:380px) {
    .secondSectionindex .circleIndex {
        background-position: center;
    }
}